@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #8267BE;
    --sec-color: #502064;
    --third-color: #3FA796;
    --fourth-color:#FFBD35;

}

body {

  
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #502064 0%, #502064 75%, #8267BE 75%);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    overflow: hidden;

}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav .my-logo {
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 30px;
    font-family: 'Pacifico', cursive;
}

header nav .my-logo span {
    color: white;
    background-color: var(--third-color);
    padding: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: -15px;
}


header nav ul {
	transform: translateX(200%);
	z-index: 10;
	transition: .5s;
	text-align: center;
}
header nav ul li {
	list-style: none;
	font-weight: 500;
	float: left;
	height: 47px;
	/* padding: 20px; */
	margin-top: -26px;
}


header nav ul li a {

        color: white;
        text-decoration: none;
        transition: .5s;
        display: inline-block;
        background-color: var(--third-color);
        padding: 10px;

}

header nav ul li:hover{
    color: var(--first-color);
    border-bottom: 2px solid white ;
}

header .content {
    width: 60%;
    float: left;
    color: white;
    position: absolute;
    top: 50%;
    padding: 50px;

    transform: translateY(-50%);
}

header .content h1 {
    font-size: 70px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
}

header .content p {
    font-size: 20px;
    text-transform: capitalize;
    padding: 0px 6px;
}

header .content p span {
    background-color: var(--first-color);
    color: white;
    padding: 5px 9px;
    border-radius: 4px;
    font-weight: bold;
}
header .content .short-p {
	font-size: 16px;
	margin-top: 16px;
	color: #ddd6ee;
	width: 431px;
}

header .imgbox {
    width: 40%;
    float: right;
    text-align: center;
}

header .imgbox::before {
	content: '';
	position: absolute;
	top: 242px;
	left: 61%;
	width: 300px;
	height: 300px;
	border: 16Px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .imgbox img {
    width: 260px;
    position: absolute;
    top: 10%;
    left: 65%;
    transform: scale(1.5);
}

header .toggle {
	position: absolute;
	top: 20%;
	right: 1%;
	background-color: var(--third-color);
	width: 40px;
	height: 40px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 8px;
	cursor: pointer;
}

header .toggle span{
    width: 100%;
    background-color:white;
    height: 5px;
    border-radius: 3px;
}


.showNav {
    transform: translateY(0);
}
header nav .close {
	height: 43px;
	width: 43px;
	position: absolute;
	background: white;
	top: -25px;
	left: -44px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--third-color);
	font-size: 15px;
	font-weight: bold;
	/* transform: translateY(-50%); */
	border-radius: 2px;
	/* padding: 15px; */
	/* border-radius: 50%; */
	/* z-index: -1; */
}

header .button {
	background-color:var(--fourth-color);
	padding: 10px 20px;
	border-radius: 6px;
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	font-weight: 600;
    transition: .5s;
    color: white;
}

header .button:hover{
    background-color: #3FA796;
    color: white;
}

header .arrow-down{
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 30px;
        text-decoration: none;
        animation: toDown 3s infinite reverse;
    
}

header .arrow-down:hover{
    animation-play-state: paused;
}

header .arrow-down i{
    color: white;
}

@keyframes toDown {
    0% {transform: translateX(-50%) translateY(-50%);}
    50% {transform: translateX(-50%) translateY(0%);}
    100% {transform: translateX(-50%) translateY(-50%);}

  }